#platform=x86, AMD64, or Intel EM64T 
#version=DEVEL 
# System authorization information 
auth  --useshadow  --enablemd5 
# Install OS instead of upgrade 
install 
sshpw --username=root $1$hehe$iNELh51zA1bpsOBwD80XB0 --iscrypted
# Use network installation
url --url="http://10.160.60.5/ksczq/centos7" 
autostep --autoscreenshot
# Use text mode install
text
# Firewall configuration 
firewall --disabled 
firstboot --disable
# Keyboard layouts
# old format: keyboard us
# new format:
keyboard us
# System language
lang en_US.UTF-8
# Installation logging level
logging --level=info
# Reboot after installation 
reboot 
# Root password 
rootpw kingsoft 
# SELinux configuration 
selinux --disabled 
# System timezone
timezone Asia/Shanghai --isUtc
ignoredisk --only-use=sda
# Partition clearing information
clearpart --all --initlabel --drives=sda
# if not has autopart , will not continue
autopart --type=lvm
# System bootloader configuration
bootloader --location=mbr --boot-drive=sda


%packages 
@base 
@core 
dos2unix
lrzsz
nc
ncurses
net-snmp
nmap
rsync
sysstat
telnet
tree
vim
vim-enhanced
xfsdump
xfsprogs
%end 
